{% extends 'music/base.html' %}
{% load static %}
{% block content %}

<div id="basic-3" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 6rem;"><br/>
                <h2>RECOGNIZE MUSIC</h2>
            </div> <!-- end of col -->
        </div>
        <div class="row">
            <form action="{% url 'predictor:RecognizerResult' %}" method="POST" enctype="multipart/form-data" class="up-form">
               {% csrf_token %}
                {{form.as_table}}
                <img class="up-p" src="{% static 'music/images/wave.jpeg' %}" alt="alternative"></p>
                <button type="submit" class="btn btn-sm btn-success" style="margin-left: 9rem; width: 30vh;">Recognize</button>
            </form>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->

{% endblock %}

